*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'outfit', sans-serif;
    font-size: 18px;
    background: rgb(13, 25, 43);
    align-items: center;
}
.card{
    width: 350px;
    height: 530px;
    padding: 1rem;
    background: rgb(20, 37, 61);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.image-container{
    width: 100%;
    height: 1000px;
    border-radius: 0.3rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.image-container::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: aqua;
    opacity: 0;
    transition:0.5s opacity ;
}
.image-container:hover::before{
    opacity: 0.3;
}
.image-container .equilibrium{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-container .eye{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s 0.2s opacity;
}
.image-container:hover .eye{
    opacity: 1;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.content h4{
    color: white;
}
.content p{
    color: rgb(139, 172, 218);
    font-weight: 300;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.price::before{
    content: '';
    position: absolute;
    bottom: -0.6rem;
    width: 100%;
    border-bottom: 1px solid rgb(47, 65, 91);
}
.price p,
 .price span{
    display: flex; 
    align-items: center;
    gap: 0.4rem;
}
.price p{
    color: aqua;
}
.price span{
    color: rgb(139, 172, 218);
}
.creator{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.creator img{
    width: 2.5rem;
}
.creator p{
    color: rgb(139, 172, 218);
}
.creator p span{
    color: white;
}